/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-may-2023, 20:05:21
    Author     : Skyroot
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

body{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
}

.navegacion{
    width: 100%;
    background-color: white;
    padding: 14px 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.navegacion .n_item{
    display: inline-block;
    padding: 4px 20px;
}

.logo{
    display: inline-block;
    margin-left: 50px;
    padding: 0;
}
.logo .icon{
    font-size: 26px;
    font-weight: bolder;
    color: green;
    padding: 0;

}

.logo a{
    color: green;
    font-weight: bolder;
    text-decoration: none;
}

.navegacion .btn_menu{
    display: none;
    cursor: pointer;
}

.navegacion .btn_menu #close{
    float: none;
    font-size: 40px;
    font-weight: bolder;
    color: black;
    display: none;
}
.navegacion .btn_menu .m{
    width: 26px;
    height: 4px;
    margin: 4px auto;
    background-color: black;
}
.navegacion .logo{
    margin-left: 0;
    margin-right: 20px;
}
.navegacion .enlaces a{font-weight: bold;color: #269abc}
.navegacion .enlaces:hover{
    border-bottom: 4px solid #04AA6D;
    transition: 0.2s ease-in-out;
}
.navegacion .enlaces.active{border-bottom: 4px solid #04AA6D;}
/*dropdown user*/

/* The dropdown container */
.dropdown {
    float: right;
    margin-right: 40px;
    background-color: #269abc;
    margin-top: 6px;
    padding: 10px 4px;
    border-radius: 5px;
    cursor: pointer;
}
.dropdown:hover{opacity: 0.8;}
.dropdown a{color: whitesmoke;font-size: 18px;}


/*responsive style for menu*/
@media screen and (max-width: 850px) {
    .navegacion .n_item:not(:first-child) {display: none;}
    .navegacion .btn_menu {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 850px) {
    .navegacion.responsive {position: relative;}
    .navegacion.responsive .btn_menu {
        position: absolute;
        right: 14px;
        top: 10px;
    }
    .navegacion.responsive .n_item {
        float: none;
        display: block;
        text-align: left;
        transition: 0.3s ease-in-out;
    }
    .navegacion.responsive .usuario{margin-top: 20px;}
    .navegacion.responsive .enlaces:hover{
        border-bottom: none;
        background-color: #e0e0e0;  }
}

/*---------------------------------------END HEADER------------------------------*/

/*.main{
    display: flex;
    margin: 10px auto;
    justify-items: space-between;
}
.main-aside{
    flex: 30%;
    padding: 10px 20px;
    background-color: whitesmoke;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}*/

.main-content{
    width: 100%;
    padding: 10px;
    background-color: whitesmoke;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #ddd;
    box-sizing: border-box;
    margin-bottom: 20px;
}


/* Hide the images by default */
.mySlides {
    display: none;
}
.mySlides img{
    width: 100%;
    max-height: 400px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 36%;
    width: auto;
    /*margin-top: -22px;*/
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.5);
}

/* Position the "next button" to the right */
.next {
    right: 10px;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    /*color: #f2f2f2;*/
    font-size: 20px;
    padding: 8px 12px;
    /*position: absolute;*/
    font-weight: bold;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    /*position: absolute;*/
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
    background-color: #269abc;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*---------------------------------------END SLIDE------------------------*/


/*------------------------------portofolio servicios-------------------------*/
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 10px;
}

.row .column{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    flex-direction: column;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin: 0 5px;
    box-sizing: border-box;
}

.row .aside {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    padding: 10px;
    background-color: #f1f1f1;
    overflow-y: auto;
}
.a-item{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.row .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    flex-direction: column;
    align-content: space-between;
    background-color: white;
}

.main .column .content img{
    width: 100%;
    max-height: 400px;
}


/*contact section*/
/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/*footer*/
/*estilos footer*/
.footer{
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    background-color: whitesmoke;
    padding: 10px 20px;
    box-sizing: border-box;
}
.f_item{
    width: 100%;
}
/*-----------------------------------*/

/*portofolio servicios*/
.portofollo{
    box-sizing: border-box;
    background-color: #269abc;
}
.portofollo .row{
    display: flex;
    flex-flow: wrap;
}
.portofollo .row .column {
    display: table-cell;
  padding: 5px;
}

/* Create four equal columns that floats next to each other */
.row .portofollo .column {
  flex: 1;
  width: 100%;
  background-color: white;
  margin: 6px;
  border-radius: 5px;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
    .mySlides img{
        height: 300px;
    }
    .portofollo .column{width: 100%}

    .footer{flex-direction: column}
}


@media screen and (max-width: 600px){
    .form-popup{width: 90%; left: 5%;right: 5%}
}

